$icomoon-font-family: "font-su" !default;
$icomoon-font-path: "../fonts" !default;

$su-suit-three-piece: "\e976";
$su-suit-two-piece: "\e977";
$su-vest-2: "\e978";
$su-vest-3: "\e979";
$su-raincoat-2: "\e97a";
$su-raincoat-3: "\e97b";
$su-raincoat: "\e97c";
$su-parka: "\e97d";
$su-coat-down-2: "\e97e";
$su-coat-down: "\e97f";
$su-comforter: "\e980";
$su-coat-3: "\e981";
$su-blazer-3: "\e982";
$su-cardigan: "\e983";
$su-safety-pin: "\e958";
$su-thread: "\e959";
$su-needle-thread: "\e95a";
$su-lint-roller: "\e95b";
$su-flag: "\e95c";
$su-tent-2: "\e95d";
$su-tent: "\e95e";
$su-sleeping-bag: "\e95f";
$su-detergent-2: "\e960";
$su-detergent: "\e961";
$su-blanket-2: "\e962";
$su-towel-2: "\e963";
$su-towel: "\e964";
$su-napkin: "\e965";
$su-apron: "\e966";
$su-curtains: "\e967";
$su-pillow: "\e968";
$su-scarf-2: "\e969";
$su-scarf: "\e96a";
$su-tie: "\e96b";
$su-tie-2: "\e96c";
$su-hat-4: "\e96d";
$su-hat-3: "\e96e";
$su-hat-2: "\e96f";
$su-zipper: "\e970";
$su-blanket: "\e971";
$su-sheet: "\e972";
$su-rug-3: "\e973";
$su-rug-2: "\e974";
$su-belt: "\e900";
$su-bed: "\f101";
$su-chair: "\f102";
$su-couch: "\f103";
$su-table: "\f104";
$su-scale: "\f106";
$su-chair-2: "\f107";
$su-rug: "\f113";
$su-washer: "\f11a";
$su-sewing-machine: "\f11d";
$su-clock: "\f120";
$su-clock-2: "\f126";
$su-pants-2: "\e902";
$su-pants-3: "\e94e";
$su-pants-4: "\e94f";
$su-pants: "\e975";
$su-shirt: "\e955";
$su-sandals-2: "\e90a";
$su-sandals: "\e90b";
$su-robe-2: "\e94b";
$su-purse: "\e901";
$su-bag-2: "\e906";
$su-bag: "\e907";
$su-hat: "\e908";
$su-gloves: "\e909";
$su-slipper-3: "\e90c";
$su-slipper-2: "\e90d";
$su-slipper: "\e90e";
$su-boots-3: "\e90f";
$su-boots-2: "\e910";
$su-heels-4: "\e911";
$su-heels-3: "\e912";
$su-boots: "\e913";
$su-heels-2: "\e914";
$su-heels: "\e915";
$su-shoes-4: "\e916";
$su-shoes-3: "\e917";
$su-shoes-2: "\e918";
$su-shoes: "\e919";
$su-socks-5: "\e91a";
$su-underwear-5: "\e91b";
$su-socks-4: "\e91c";
$su-socks-3: "\e91d";
$su-socks-2: "\e91e";
$su-socks: "\e91f";
$su-underwear-4: "\e920";
$su-underwear-3: "\e921";
$su-underwear-7: "\e922";
$su-underwear-8: "\e923";
$su-underwear-2: "\e924";
$su-underwear: "\e925";
$su-underwear-6: "\e926";
$su-bikini-bottom-2: "\e927";
$su-bikini-bottom: "\e928";
$su-bikini-top: "\e929";
$su-bra-6: "\e92a";
$su-bra-4: "\e92b";
$su-bra-5: "\e92c";
$su-bra-2: "\e92d";
$su-bra-3: "\e92e";
$su-bra: "\e92f";
$su-vest: "\e930";
$su-blouse-3: "\e931";
$su-blouse-2: "\e932";
$su-dress-9: "\e933";
$su-dress-8: "\e934";
$su-dress-7: "\e935";
$su-skirt-6: "\e936";
$su-skirt-5: "\e937";
$su-skirt-4: "\e938";
$su-skirt-2: "\e939";
$su-skirt-3: "\e93a";
$su-skirt: "\e93b";
$su-pants-5: "\e93c";
$su-dress-6: "\e93d";
$su-coat-2: "\e93e";
$su-coat: "\e93f";
$su-dress-5: "\e940";
$su-dress-4: "\e941";
$su-hoodie-2: "\e942";
$su-blazer-2: "\e943";
$su-hoodie: "\e944";
$su-sweater-2: "\e945";
$su-shirt-polo-3: "\e946";
$su-shirt-polo-2: "\e947";
$su-blazer: "\e948";
$su-sweater: "\e949";
$su-dress-3: "\e94a";
$su-uniform: "\e94c";
$su-dress-2: "\e94d";
$su-overalls: "\e903";
$su-shorts-3: "\e904";
$su-shorts-2: "\e905";
$su-shorts: "\e950";
$su-dress: "\e951";
$su-robe: "\e952";
$su-blouse: "\e953";
$su-shirt-polo: "\e954";
$su-tank: "\e956";
$su-top: "\e957";
$su-hanger: "\ef42";

